extends layout

block content
    form#addProductForm
        h3 <b> Edit Game </b>
        label#errorLabel
        br
        label(for='title') Title:
        input#title(value=game.title type='text' name='title')
        br
        label(for='price') Price:
        input#price(value=game.price type='number' name='price')
        br
        label(for='picture') Picture:
        input#picture(value=game.picture type='text' name='picture')
        br
        label(for='fsk') FSK:
        input#fsk(value=game.fsk type='number' name='fsk')
        br
        label(for='description') Description:
        input#description(value=game.description type='text' name='description')
        br
        label(for='studio_id') Studio_id:
        input#studio_id(value=game.studio_id type='number' name='studio_id')
        br
        input#game_id(value=game.game_id type='hidden' name='game_id' )
        button#editGame save Changes
    script.
            
        function setErrorLabel(ErrorCode) {
          document.getElementById("errorLabel").innerHTML = ErrorCode;
        }

        document.getElementById('editGame')?.addEventListener('click', function (form) {
        form.preventDefault();
        let data = {
            title: document.getElementById('title').value,
            price: document.getElementById('price').value,
            picture: document.getElementById('picture').value,
            fsk: document.getElementById('fsk').value,
            description: document.getElementById('description').value,
            studio_id: document.getElementById('studio_id').value
        };
        var game_id = document.getElementById('game_id').value;

        fetch('/editGame/' + game_id, {
            method: 'PUT',
            headers: {
             'Accept': 'application/json',
             'Content-Type': 'application/json'
          },
            body: JSON.stringify(data)
          }).then(function (response) {

          response.text().then(function (text) {
            if (!response.ok) {
                setErrorLabel(text);
            }else {
                window.location = '/games/' + game_id
            }
          });
        });
        });
          
