extends layout

block content
  div(class='title')
    h1 Vents GameShop 
    h2 - Your Videogame Platform -

  div#left
    h3 Users
    table(class='table')
      tr
        th(class='column_names')  Title
        th(class='column_names')  E-Mail
        th(class='column_names')  Name
        each val in users
          tr 
            td <b> #{val.username}</b>
            td #{val.email}
            td #{val.name}
        tr
          td ...
          td ...
          td ...
    br
    button(onclick="window.location.href = '/users'") Manage Users
  div#right
    h3 Games
    table(class='table')
      tr
        th(class='column_names')  Title
        th(class='column_names')  Studio
        th(class='column_names')  Price
        each val in games
          tr 
            td #{val.title}
            td #{val.studio}
            td #{val.price}
        tr
          td ...
          td ...
          td ...
    br
    button(onclick="window.location.href = '/games' ") Manage Games

