extends layout

block content
  div#left
    h3 Users
    table
      tr
        th title
        th email
        th name
        each val in users
          tr 
            td <b> #{val.username}</b>
            td #{val.email}
            td #{val.name}
        tr
          td ...
          td ...
          td ...
    button(onclick="window.location.href = '/users'") User Verwalten
  div#right
    h3 Games
    table
      tr
        th title
        th studio
        th price
        each val in games
          tr 
            td #{val.title}
            td #{val.studio}
            td #{val.price}
        tr
          td ...
          td ...
          td ...
    button(onclick="window.location.href = '/games' ") Games Verwalten

