extends layout
block content
  p Name: <b>#{user.username}</b>
  p EmailAdress: <b>#{user.email}</b>
  button(onclick='deleteUser('+ user.user_id+ ')') deleteUser
  p comments:
  table
    tr
      th title
      th creationDate
      th content
      th
    each val in comments
      tr(style='background-color:' + val.color + ';') 
        td #{val.title}
        td #{val.publish_date}
        td #{val.text}
        td
          button(onclick='deleteComment(' + val.comment_id+ ')') löschen
  p GamesOwned:
  table
    tr
      th title
    each val in games
      tr 
        td #{val.title}
  script.
    function deleteUser(id) {
        fetch('/deleteUser/' + id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
      
        }).then(function (response) {
            response.text().then(function (text) {
            window.location = '/users';
            });
        })
    }

    function deleteComment(id) {
        fetch('/deleteComment/' + id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
      
        }).then(function (response) {
            response.text().then(function (text) {
            location.reload();
            });
        })
    }
      
