extends layout
block content
  button(onclick='window.location="/editGame/' + game.game_id+ '"') Editieren
  p Title: <b>#{game.title}</b>
  p Price: <b>#{game.price}</b>
  p Likes #{info.like_count}
  p Likes #{info.dislike_count}
  button(onclick='deleteGame('+ game.game_id + ')') Game löschen
  p comments:
  table
    tr
      th creator
      th title
      th creationDate
      th content
      th
    each val in comments
      tr 
        td #{val.username}
        td #{val.title}
        td #{val.publish_date}
        td #{val.text}
        td
          button(onclick='deleteComment(' + val.comment_id+ ')') löschen
  script.
    function deleteGame(id) {
        fetch('/deleteGame/' + id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
      
        }).then(function (response) {
            response.text().then(function (text) {
            window.location = '/games';
            });
        })
    }

    function deleteComment(id) {
        fetch('/deleteComment/' + id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
      
        }).then(function (response) {
            response.text().then(function (text) {
            location.reload();
            });
        })
    }