extends layout
block content
  div.startButton
      button#startButton(onclick="window.location.href = '/'") Mainpage
      button#startButton(onclick="window.location.href = '/games/'") Gamelist
  div.gameTitle
      h1 <b>#{game.title}</b>
      p by #{game.studio} 
  div.gameInfo
      p Origin country <b>#{game.origin} </b>, FSK: <b>#{game.fsk}</b>, Price: <b>#{game.price}€</b>
      p Description: <b>#{game.description}</b> 

      button(onclick='window.location="/editGame/' + game.game_id+ '"') Edit
      button(onclick='deleteGame('+ game.game_id + ')') Delete

  table.comments
    tr
      th(class='column_names') User
      th(class='column_names') Title
      th(class='column_names') Date
      th(class='column_names') Comment
      th(class='column_names')
    each val in comments
      tr(style='background-color:' + val.color + ';')  
        td(class='column_text') #{val.username}
        td(class='column_text') #{val.title}
        td(class='column_text') #{val.publish_date}
        td(class='column_text') #{val.text}
        td(class='column_text')
          button(onclick='deleteComment(' + val.comment_id+ ')') delete
  script.
    function deleteGame(id) {
        fetch('/deleteGame/' + id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
      
        }).then(function (response) {
            response.text().then(function (text) {
            window.location = '/games';
            });
        })
    }

    function deleteComment(id) {
        fetch('/deleteComment/' + id, {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
      
        }).then(function (response) {
            response.text().then(function (text) {
            location.reload();
            });
        })
    }
